body {
    width: 80vw;
    margin: 0 auto;
}

.people-table th,
.people-table td,
.report-table th,
.report-table td,
.ownership-container th,
.ownership-container td,
#general-audit-table td,
#general-audit-table th,
.ownership-table td,
.ownership-table th,
.vehicle-table td,
.vehicle-table th,
.account-td {
    background-color: #dddddd;
    color: black;
}

.people-table,
.report-table {
    width: 80 vw;
}

.ownership-container {
    width: 600px;
    margin: 2em auto;
}

.ownership-container table,
.ownership-table,
.vehicle-table {
    width: 500px;
    border: 1px black solid;
    margin: auto auto;
}

.ownership-container td,
.ownership-table td,
.vehicle-table td {
    width: 50%;
}

.feedback-red {
    background-color: #ff999c;
    width: 100%;
    border-radius: 0.5em;
    margin: 0.5em auto;
}

.feedback-yellow {
    background-color: #efd73c;
    width: 100%;
    border-radius: 0.5em;
    margin: 0.5em auto;
}

.feedback-green {
    background-color: #b7ffb4;
    width: 100%;
    border-radius: 0.5em;
    margin: 0.5em auto;
}

.feedback-text-line {
    margin: 0em auto;
    padding: 0.5em;
    width: fit-content;
    font-size: large;
}

/* for .uneditable, I referenced this: https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events */
.uneditable {
    pointer-events: none;
    background-color: #3e3e3e;
}

.uneditable:hover {
    cursor: not-allowed;
}

.text-green {
    color: green;
}

.text-red {
    color: red;
}

/*  part of #report-detail-container style(margin, postion, left, right) referenced: https://www.folkstalk.com/tech/how-to-center-with-position-fixed-with-code-examples/ */
#report-detail-container {
    position: fixed;
    background-color: #6a6a6a;
    width: 600px;
    height: 400px;
    margin: 10% auto;
    left: 0;
    right: 0;
    border-radius: 5px;
    padding: 30px 20px 5px 20px;
}

.report-detail-information,
.audit-detail-information {
    height: 100%;
    overflow-y: scroll;
}

.report-detail-table,
.audit-detail-table {
    width: 97%;
    border-radius: 5px;
    background-color: rgb(69, 69, 69);
    color: rgb(242, 242, 242);
}

.invisible {
    display: none;
}

.report-detail-table-header {
    width: 30%;
    text-align: center;
    background-color: #595959;
}

.report-detail-table-data {
    width: 70%;
    text-align: center;
    background-color: #6a6a6a;
}

#report-detail-container-hide-button,
#detail-audit-info button {
    color: red;
    top: 5px;
    left: 5px;
    position: absolute;
    border: 0px black;
    border-radius: 3px;
}

#report-detail-container-hide-button:hover,
#detail-audit-info button:hover {
    color: black;
    background-color: rgb(212, 90, 90);
}

.forbidden-link {
    cursor: not-allowed;
    pointer-events: none;
    color: gray;
}

#general-audit-info {
    width: 760px;
    height: 760px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

#general-audit-table td,
#general-audit-table th {
    height: 24px;
}

#detail-audit-info {
    position: fixed;
    background-color: #6a6a6a;
    width: min(800px, 80vw);
    height: min(720px, 86vh);
    margin: 0 auto;
    left: 0;
    right: 0;
    border-radius: 5px;
    padding: 30px 20px 5px 20px;
}

.audit-detail-information-subcontainer {
    width: 97%;
    border-radius: 5px;
    height: 215px;
    background-color: rgb(69, 69, 69);
    margin-top: 10px;
    padding: 5px;
    overflow-y: scroll;
    color: rgb(242, 242, 242);
}

.audit-detail-information-subcontainer h1 {
    color: rgb(242, 242, 242);
}

.button-selected {
    background-color: #3e3e3e;
    color: #ffffff;
}



/* for Reports/new.php */
.new-report-form-data {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.new-report-form-data>div {
    background-color: #e0e0e0;
    border-radius: 5px;
    width: 600px;
    height: 210px;
    margin: 10px 10px;
    padding: 5px;
}

.new-report-form-data>div>table {
    margin: 0 auto;
}

.new-report-form-data>div>h3 {
    text-align: center;
}

.new-report-form input[value="submit"] {
    font-size: 2em;
    display: block;
    margin: 0 auto;
}

/* navbar */
/* login.php */

.login-form table {
    margin: 30vh auto;
}

.login-form {
    font-size: 2em;
}

.login-form button,
.login-form input[value="login"] {
    font-size: 0.8em;

}

.login-form input[value="login"] {
    display: block;
    margin: 0 0 0 auto;
    ;
}

.login-form input {
    height: 2em;
}